.banner {
    height: 330px;
    object-fit: cover;
    margin-bottom: 2em;
}

.location li {
    border: none;
}

.hours li {
    border: none;
}

form label {
    font-weight: bold;
}

footer .nav-link {
    margin: 0;
    padding: 0;
}
