@font-face {
    font-family: "MyWebFont";
    src: url("fonts/WebFont.woff") format("woff");
}

* {
    box-sizing: border-box;
    padding: 0.2em;
}

header {
    padding: 2em;
}

header body {
    background-color: ivory;
}

h1,
h2 {
    color: #202121;
    text-align: center;
    font-family: MyWebFont;
}

h1 {
    border-bottom: 1px solid #202121;
}

h2 {
    margin: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

nav li {
    display: inline;
}

a:hover {
    color: blue;
}

a.return-link {
    color: blue;
}

img {
    width: 25%;
    height: 25%;
    padding: 5px;
    border: 2px solid black;
    background-color: gray;
    margin: 20px;
}

.footer {
    float: left;
    clear: both;
}

.logo {
    display: inline;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.left-img {
    float: left;
}

.right-img {
    float: right;
}

.banner {
    margin: 0;
    padding: 0;
    background-color: none;
    border: none;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    padding: 0;
}
@media (min-width: 769px) {
    .column {
        flex: 33.33%;
    }
}

.container img {
    width: auto;
    height: 90%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: none;
}

figure {
    border: 1px solid black;
    background: white;
    padding: 0.5em;
    margin: 0.5em auto;
    width: 270px;
    justify-content: center;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}
